body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
   background-color: aquamarine;
}


h1 {
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}

div {
    text-align: center;
    margin-block: 50px;
    align-items: center;
}

.btn {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

